<% layout('layouts/boilerplate') %>
<div class="row">
	<h1 class="text-center">Edit Hotel</h1>
	<div class="col-6 offset-3">
		<form
			action="/<%= airbnb._id %>?_method=PUT "
			method="POST"
			novalidate
			class="validated-form"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					id="title"
					name="airbnb[title]"
					value="<%= airbnb.title %> "
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					id="location"
					name="airbnb[location]"
					value="<%= airbnb.location %> "
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Image Url</label>
				<input
					class="form-control"
					type="text"
					id="image"
					name="airbnb[image]"
					value="<%= airbnb.image %> "
					required
				/>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Price</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="price-label">₱</span>
					</div>
					<input
						type="text"
						class="form-control"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="price-label"
						id="price"
						name="airbnb[price]"
						value="<%= airbnb.price %>"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Description</label>
				<textarea
					class="form-control"
					type="text"
					id="description"
					name="airbnb[description]"
					required
				>
<%= airbnb.description %> </textarea
				>
				<div class="valid-feedback">Looks good!</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-info">Update Hotel</button>
			</div>
		</form>
		<a href="/<%= airbnb._id %> ">Back to Hotel Detail</a>
	</div>
</div>
